/* Reset CSS */
* {
/*Margem = Exeterna */
    margin: 0;
    box-sizing: border-box;
}
    
body {
    /* Cor de Fundo */
    background-color:  #eadfdb;
    
    /*Cor do Texto */
    color: #722e43;
}   
/* Seletor para os <A> */
a{

 /* Propriedade e VALOR */
 text-decoration: none;
 color: #722e43;
}


/* HEARDER = Cabeçalho */
header {
    /*ROW  Linha Horinzotal*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cc7f91;
    /*Largura ou Comprimento */
    width: 100%;

}
    /*  ul */
.menu {
    list-style: none;
    /* Lista horizontal */
    display: flex;
    /* espaço entre TAGs */
    gap: 1rem; /* um rem */
 }
/* Tag  */
.menu-desktop {
    display: none;

}

/* Daqui pra cima versão mobile */
/* ======================================================  */


/* Reponsivo */
/* Serve para as telas maiores */


/* Telas maiores que 768px */

@media (min-width: 768px) {
header {
    /* espaço inteiro */
    padding: 1rem 6rem;
    justify-content: ;
    gap: ;

}

/* NAV */
.menu-desktop {
    display: flex;
}

    }
   